/*.center {
margin-left:auto;
margin-right:auto;
}*/
h2 {
background-color:#EEEEEE;
border-bottom:1px solid #DDDDDD;
color:#666666;
font-size:large;
padding:3px;
}
h3 {
background-color:#EEEEEE;
border-bottom:1px solid #DDDDDD;
color:#666666;
font-size:large;
padding:3px;
}
h4 {
font-size:medium;
margin:5px;
}
body {
    padding:20px;
    /*margin: auto;*/
    border:1px solid #DDDDDD;
    background-color: #EEEEEF;
    /*background-image:url('/site_media/images/gear.png');*/
    /*background-repeat:no-repeat;*/
}
A{ font-family: arial; color: #808080; background: #DADADA}
A:link   { text-decoration: none; }
A:visited    { text-decoration: none; }
A:active     { text-decoration: none; color: #FF911B;}
A:hover  { text-decoration: none; color: #FF911B;}

.alink {
    color: #444444;
    background: #DADADA;
    padding: 20px;
    border:1px solid #DDDDDD;
}

.clear:after {
    clear: both;
    content: "";
    display: table;
}
