<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<div id="whole">
    <head id="head">
    <!--<link rel="stylesheet" type="text/css" href="css/widgets.css">-->
        <!--<link rel="stylesheet" type="text/css" href="css/general.css">-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/karaoke.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simplegrid.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/player.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
        <meta name="author" content="Matt Kubilus" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Empty Orchestra</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/wcdg.js') }}"></script>
        <script src="{{ url_for('static', filename='js/id3v2.js') }}"></script>
        <script src="http://www.youtube.com/player_api"></script>
        <script type="text/javascript"> 

function say(m) {
    $.ajax({
        type: "GET",
        url: "{{ url_for('sayit') }}",
        data: {
            'message':m
        },
        async: false
    });


    var timestamp = +new Date;
    var html_str = '<audio id="kjspeak" autoplay="autoplay">' +
        '<source src="/static/sayit.mp3?t='+timestamp+'" type="audio/mpeg" />' +
        '</audio>'
    $('#player').html(html_str);

    $('#kjspeak').bind("playing", function() {
        console.log("Event: playing.");
        this.volume = '0.9';
        var bplayer = document.getElementById('bumpsong');
        bplayer.volume = '0.45';
    });

    $('#kjspeak').bind("pause", function() {
        console.log("Event: paused.");
    });

    $('#kjspeak').on('canplay', function() {
        this.play();
    });

    $('#kjspeak').on('ended', function() {
        var bplayer = document.getElementById('bumpsong');
        bplayer.volume = '0.4';
    });
}

function randomChoice(arr) {
    return arr[Math.floor(arr.length * Math.random())];
}


function onLoad(data) {
    console.log("On Load...");
    
    bumper_music();
    do_wait_song();

    //checkCookie();
    //alert($(data));
   // alert("Load");
}


function parseFile(file, callback){
    if(localStorage[file.name]) return callback(JSON.parse(localStorage[file.name]));
    ID3v2.parseFile(file,function(tags){
        //to not overflow localstorage
        localStorage[file.name] = JSON.stringify({
        Title: tags.Title,
        Artist: tags.Artist,
        Album: tags.Album,
        Genre: tags.Genre
        });
        callback(tags);
    })
}
function canPlay(type){
    var a = document.createElement('audio');
    return !!(a.canPlayType && a.canPlayType(type).replace(/no/, ''));
}

function do_play_song(artist, title, path, archive) {
    $.ajax({
        type: "GET",
        url: "{{ url_for('play_song') }}",
        data: {
            'artist':artist,
            'title':title,
            'path':path,
            'archive':archive
        },
        async: true,
        success: function(data) {
            console.log("Play song success: ");
            $('#play').html(data);
        }

    });
    
}

function youtube_embed(data) {
    bumper_stop();
    set_stage();
    
    var width = window.innerWidth * 0.8;
    var height = window.innerHeight * 0.8;

    width = Math.max(1024, width);
    height = Math.max(768, height);
	/* 
    var html_str = '<iframe id="player" title="' + data.title + 
        '" width="'+window.innerWidth+'" height="'+window.innerHeight+
        '" src="http://www.youtube.com/embed/'+data.path+'?autoplay=1" frameborder="0" allowfullscreen></iframe>'
    $('#youtube_embed').html(html_str);
    */
	console.log(data);

	console.log("Setup player");
	var player;
	player = new YT.Player('youtube_embed', {
		height: '390',
		width: '640',
		videoId: data.path,
		events: {
			'onReady': onPlayerReady,
			'onStateChange': onPlayerStateChange,
			'onError': onPlayerError
		}
	});

	function onPlayerReady(event) {
		console.log("Player ready1");
		event.target.playVideo();
	}

	var done = false;
	function onPlayerStateChange(event) {
		console.log(event.data)
        if(event.data == YT.PlayerState.ENDED){
		//if (event.data == YT.PlayerState.PLAYING && !done) {
			console.log("Stopping");
			setTimeout(stopVideo, 1000);
			done = true;
		}
	}
	function stopVideo() {
		player.stopVideo();
		player.destroy();
        song_end(data);
	}
	function onPlayerError(event) {
		console.log("Error, try full player");
		youtube_window(data);
	}
    //$('#youtube_embed').css("height", window.innerHeight);
    //$('#youtube_embed').css("width", window.innerWidth);
    $('#youtube_embed').css("height", height);
    $('#youtube_embed').css("width", width);
    $('#cdg_player').hide();
    $('#youtube_embed').show();
    $('#inter').hide();
}


function set_stage() {
    var stage = randomChoice({{ backgrounds | safe }});

    $('body').css({background : '#111111 url(/static/images/'+stage+') no-repeat fixed center / 100% auto'});
    $('#queue').hide();
    $('#KJ').hide();
}

function bumper_music() {
    var mp3 = randomChoice({{ bumper_songs | safe }});

    var html_str = '<audio id="bumpsong" autoplay="autoplay">' +
        '<source src="/static/tracks/'+ mp3 +'" type="audio/mpeg" />' +
        '</audio>'
    $('#bumper_player').html(html_str);

    $('#bumpsong').bind("playing", function() {
        console.log("Event: playing.");
        this.volume = '0.5';
    });

    $('#bumpsong').bind("pause", function() {
        console.log("Event: paused.");
    });

    $('#bumpsong').on('canplay', function() {
        this.play();
    });

    $('#bumpsong').on('ended', function() {
        bumper_music();
    });
}

function bumper_stop() {
    var player = document.getElementById('bumpsong');
    player.pause();
    player.src = player.src;
}
function sound_pause() {
    var bg_player = document.getElementById('bumpsong');
	var cdg_player = document.getElementById('song');
    if (cdg_player != null) {
        cdg_player.pause();
    }
    if (bg_player != null) {
        bg_player.pause();
    }
}
function sound_play() {
    var bg_player = document.getElementById('bumpsong');
	var cdg_player = document.getElementById('song');
    if (cdg_player != null) {
        cdg_player.play();
    }
    if (bg_player != null) {
        bg_player.play();
    }
}

function resize_cdg() {
    var width = window.innerWidth * 0.8;
    var height = window.innerHeight * 0.8;

    width = Math.max(1024, width);
    height = Math.max(768, height);

    //var scale = Math.floor(width/320);
    var scale = width/320;

    document.getElementById("karaoke-display").style.transform = "scale("+scale+")";
}

function cdg_player(data) {
    bumper_stop();
    set_stage();
    console.log(data);

    var timestamp = +new Date;
    var mp3_url = "/static/play.mp3?t="+timestamp;

    var html_str = '<div id="karaoke-player"></div>' +
        '<canvas style="transformOrigin: 160 108;" id="karaoke-display" width="320" height="216" >' +
        '</canvas>' +
        '<audio id="song" autoplay="autoplay">' +
        '<source src="'+ mp3_url +'" type="audio/mpeg" />' +
        '</audio>'
    $('#cdg_player').html(html_str);

    resize_cdg();
    window.addEventListener('resize', resize_cdg, false);
    window.addEventListener('orientationchange', resize_cdg, false);

	var player2 = new CDGPlayer(document.getElementById('karaoke-display'));

    $('#song').bind("playing", function() {
        console.log("Event: playing.");
        player2.play();
        this.volume = '0.9';
    });
    $('#song').bind("pause", function() {
        console.log("Event: paused.");
        player2.pause();
    });
    player2.load("{{ url_for('static', filename='play.cdg') }}?t=" + timestamp);

    $('#song').on('canplay', function() {
        console.log(this);
        this.play();
    });

    $('#song').on('ended', function() {
        $('#karaoke-display').hide();
        song_end(data);
    });

    $('#cdg_player').show();
    $('#youtube_embed').hide();
    $('#inter').hide();
}


function song_end(data) {
    $('#cdg_player').hide();
    $('#youtube_embed').hide();
    $('#KJ').show();
    //$('body').css({background : '#111111 url(/static/images/next1.jpeg) no-repeat fixed center / auto 100%'});
    console.log("Song_End");    
    var html_str = '<audio id="song" autoplay="autoplay">' +
        '<source src="{{ url_for('static', filename='applause.mp3') }}" type="audio/mpeg" />' +
        '</audio>'

    $('#player').html(html_str);

    $('#song').on('canplay', function() {
            console.log('Playing applause....');
            this.play();
    });

    $('#KJ').html("<h3>Let's here it for "+data.username+"!</h3>");
    setTimeout(function() {do_wait_song();}, 5000);
    bumper_music();
}

function youtube_window(data) {
    console.log("Start youtube window"); 
    console.log(data);
    bumper_stop();
    $.ajax({
        type: "GET",
        url: "{{ url_for('play_youtube') }}",
        data: {
            'song_data': JSON.stringify(data)
        },
        async: true,
        complete: function(data) {
            song_end(data);
        }
    });

    /*
    var awindow;
    awindow = window.open('http://www.youtube.com/watch?v='+data.path);
    setTimeout(function() { console.log("Closing youtube."); awindow.close(); song_end(data);}, data.duration);

    $('#cdg_player').hide();
    $('#youtube_embed').hide();
    $('#inter').hide();
    */
}

function do_wait_song() {
    var kj_bground = randomChoice({{ kj_images | safe }});
    $('body').css({background : '#111111 url(/static/images/'+kj_bground+') no-repeat fixed center / auto 100%'});
    $('#KJ').show();

    $.ajax({
        type: "GET",
        url: "{{ url_for('wait_song') }}?rand="+Math.random(),
        async: true,
        success: function(data) {
            //$('#play_cdg').html(data);
            if (data != null) {
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('show_next') }}?rand="+Math.random(),
                    async: true,
                    success: function(data) {
                        console.log("Show next:");
                        console.log(data);
                        $('#queue').html(data);
                        $('#queue').show();
                    }
                });

                console.log("Play song success: ");
                console.log(data);

                var bground = randomChoice({{ next_images | safe }});
                $('body').css({background : '#111111 url(/static/images/'+bground+') no-repeat fixed center / auto 100%'});
                $('#KJ').html("<h3>Next up, "+data.username+", singing " + data.title +"!</h3>");
                var saykj = "Next we have "+data.username+" singing "+data.title;
                if(data.artist) {
                    saykj = saykj +  " by "+data.artist;
                }
                saykj = saykj + ".  " + data.username+", step on UP!";
                say(saykj);

                if (data.type == 'youtube_embed') {
                    setTimeout(function() {youtube_embed(data);}, 12000);
                } else if (data.type == 'youtube') {
                    setTimeout(function() {youtube_window(data);}, 12000);
                } else if (data.type == 'cdg' ){
                    setTimeout(function() {cdg_player(data);}, 12000);
                } else if (data.type == 'cdgzip' ){
                    setTimeout(function() {cdg_player(data);}, 12000);
                } else {
                    console.log("Not recognized format: " + data.type);
                    setTimeout(function() {do_wait_song();}, 5000);
                }
            } else {
                $('#KJ').html("<h2>Soooo, who's next?</h2>");
                setTimeout(function() {do_wait_song();}, 5000);
            }
            
        },
        complete: function() {
            console.log("COMPLETE");
        },
        error: function() {
            setTimeout(function() {do_wait_song();}, 5000);
        }
    });

    $('#cdg_player').hide();
    $('#youtube_embed').hide();
}

</script>


        <meta name="viewport" content="width=device-width" />

        </head>
        <body onload="onLoad()" class="hcenter">
        <div id="startup">
            <div id="support" style="position:absolute;z-index:99999;color:red;font-size:x-large"> <!-- insert cheap knockoff modernizer clone -->
            
            </div>
        </div>

            <div id="header">
                <img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=http://{{ ip }}:5000"></img>
                Connect at <br>
                http://{{ ip }}:5000
            </div>
            
            <div id="KJ" class="centerish">
            </div>
            <br>
            <br>
            <div id="queue" >
            </div>
            
            <div id="cdg_player">
            </div>

            <div id="bumper_player">
            </div>

            <div id="player">
            </div>

            <div id="youtube_embed" class="centered">
            </div>
        </body>
</html>
