<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<div id="whole">
    <head id="head">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simplegrid.css') }}">
        <meta name="author" content="Matt Kubilus" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Empty Orchestra</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript"> 

function restart() {
    $.ajax({
        type: "GET",
        url: "{{ url_for('restart_song') }}",
        async: true
    });
}

function skip() {
    $.ajax({
        type: "GET",
        url: "{{ url_for('skip_song') }}",
        async: true
    });
}

function findsongs() {
    $.ajax({
        type: "GET",
        url: "{{ url_for('get_folder') }}",
        async: true
    });
}

        </script>
    </head>
    <body>
        <button onclick="restart()">Restart</button>
        <button onclick="skip()">Skip</button>
        <button onclick="findsongs()">Find songs</button>
    </body>
</html>

