<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<div id="whole">
    <head id="head">
    <!--<link rel="stylesheet" type="text/css" href="css/widgets.css">-->
        <!--<link rel="stylesheet" type="text/css" href="css/general.css">-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simplegrid.css') }}">
        <meta name="author" content="Matt Kubilus" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Empty Orchestra</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/wcdg.js') }}"></script>
        <script src="http://www.youtube.com/player_api"></script>
        <script type="text/javascript"> 

function onLoad(data) {
    console.log("On Load...");
    do_wait_song();
    //checkCookie();
    //alert($(data));
   // alert("Load");
}
function do_play_song(artist, title, path, archive) {
    $.ajax({
        type: "GET",
        url: "{{ url_for('play_song') }}",
        data: {
            'artist':artist,
            'title':title,
            'path':path,
            'archive':archive
        },
        async: true,
        success: function(data) {
            console.log("Play song success: ");
            $('#play').html(data);
        }

    });
    
}

function youtube_embed(data) {
   
	/* 
    var html_str = '<iframe id="player" title="' + data.title + 
        '" width="'+window.innerWidth+'" height="'+window.innerHeight+
        '" src="http://www.youtube.com/embed/'+data.path+'?autoplay=1" frameborder="0" allowfullscreen></iframe>'
    $('#youtube_embed').html(html_str);
    */
	console.log(data);

	console.log("Setup player");
	var player;
	player = new YT.Player('youtube_embed', {
		height: '390',
		width: '640',
		videoId: data.path,
		events: {
			'onReady': onPlayerReady,
			'onStateChange': onPlayerStateChange,
			'onError': onPlayerError
		}
	});

	function onPlayerReady(event) {
		console.log("Player ready1");
		event.target.playVideo();
	}

	var done = false;
	function onPlayerStateChange(event) {
		console.log(event.data)
        if(event.data == YT.PlayerState.ENDED){
		//if (event.data == YT.PlayerState.PLAYING && !done) {
			console.log("Stopping");
			setTimeout(stopVideo, 1000);
			done = true;
		}
	}
	function stopVideo() {
		player.stopVideo();
		player.destroy();
		do_wait_song();
	}
	function onPlayerError(event) {
		console.log("Error, try full player");
		youtube_window(data);
	}
    $('#youtube_embed').css("height", window.innerHeight);
    $('#youtube_embed').css("width", window.innerWidth);
    $('#cdg_player').hide();
    $('#youtube_embed').show();
    $('#inter').hide();
}

function cdg_player(data) {
    console.log(data);
    var html_str = '<div id="karaoke-player"></div>' +
        '<canvas id="karaoke-display" width="600" height="432">' +
        '</canvas>' +
        '<audio id="song" controls="controls" autoplay="autoplay">' +
        '<source src="{{ url_for('static', filename='play.mp3') }}?t='+ 
        data.timestamp + '" type="audio/mpeg" />' +
        '</audio>'
    $('#cdg_player').html(html_str);
    
    var player2 = new CDGPlayer(document.getElementById('karaoke-display'));
    var timestamp = +new Date;

    $('#song').bind("playing", function() {
        console.log("Event: playing.");
        player2.play();
    });
    $('#song').bind("pause", function() {
        console.log("Event: paused.");
        player2.pause();
    });
    player2.load("{{ url_for('static', filename='play.cdg') }}?t=" + timestamp);
    //player2.loadFile(data.path);

    $('#song').on('canplay', function() {
            this.play();
    });

    //$('#karaoke-display').css("width", "100%");
    //$('#karaoke-display').css("width", window.innerWidth);
    $('#karaoke-display').css("height", window.innerHeight);
    //var canvas = document.getElementById('karaoke-display');
    //canvas.width = window.innerWidth;
    //canvas.height = window.innerHeight;
    $('#song').on('ended', function() {
        do_wait_song();
    });

    $('#cdg_player').show();
    $('#youtube_embed').hide();
    $('#inter').hide();
}

function youtube_window(data) {
    console.log("Start youtube window"); 
    console.log(data);
    var awindow;
    awindow = window.open('http://www.youtube.com/watch?v='+data.path);
    setTimeout(function() { console.log("Closing youtube."); awindow.close(); do_wait_song();}, data.duration);

    $('#cdg_player').hide();
    $('#youtube_embed').hide();
    $('#inter').hide();
}

function do_wait_song() {
    $.ajax({
        type: "GET",
        url: "{{ url_for('show_next') }}",
        async: true,
        success: function(data) {
            console.log(data);
            $('#inter').html("DATA:" + data);
        }
    });

    $.ajax({
        type: "GET",
        url: "{{ url_for('wait_song') }}",
        async: true,
        success: function(data) {
            //$('#play_cdg').html(data);
            console.log("Play song success: " + data);
            if (data.type == 'youtube_embed') {
                setTimeout(function() {youtube_embed(data);}, 5000);
            } else if (data.type == 'youtube') {
                setTimeout(function() {youtube_window(data);}, 5000);
            } else if (data.type == 'cdg' ){
                setTimeout(function() {cdg_player(data);}, 5000);
            } else if (data.type == 'cdgzip' ){
                setTimeout(function() {cdg_player(data);}, 5000);
            } else {
                console.log("Not recognized format: " + data.type);
            }
        },
      complete: function() {
          console.log("COMPLETE");
      }

    });

    $('#cdg_player').hide();
    $('#youtube_embed').hide();
    $('#inter').show();
}

</script>


        <meta name="viewport" content="width=device-width" />

        </head>
        <body onload="onLoad()">
            <div id="queue">
            </div>
            
            <div id="cdg_player">
            </div>

            <div id="youtube_embed">
            </div>
			<div id="player"> </div>
            <div id="inter">
                <img src="{{ url_for('static', filename='bground.jpg') }}" />
            </div>

        </body>
</html>
