{% extends "layout.html" %}
{% block head %}
  {{ super() }}
<script type="text/javascript"> 
function getsinger() {
    $.ajax({
        type: "GET",
        url: "{{ url_for('get_singer') }}",
        async: true,
        success: function(data) {
            console.log("Singer data: " + data);
            $('#sidebar').html(data);
            setTimeout(getsinger, 2000);
        }
    });
}

function loadData() {
    var local_results = localStorage.getItem('local_results');
    var web_results = localStorage.getItem('web_results');
    $('#data_loc').html(local_results);
    $('#data_web').html(web_results);
}

function manual_queue() {
    var title = document.getElementById('title').value; 
    var song_id = document.getElementById('song_id').value; 

    do_queue_song("", title, song_id, "youtube");
}
function query() {
    var search_term = document.getElementById('search_query').value; 
    console.log("Search term:" + search_term);
    //alert("From was submitted:" + search_term);
    $.ajax({
        type: "GET",
        url: "{{ url_for('search_local') }}",
        data: {'term':search_term},
        async: true,
        success: function(data) {
            //console.log("Local return: " + data);
            localStorage.setItem('local_results', data);
            $('#data_loc').html(data);
        }
    });
    $.ajax({
        type: "GET",
        url: "{{ url_for('search_web') }}",
        data: {'term':search_term},
        async: true,
        success: function(data) {
            //console.log("Web return: " + data);
            localStorage.setItem('web_results', data);
            $('#data_web').html(data);
        }
    });
    //server.do_local_query(search_term, onLocalReturn); 
    //server.do_web_query(search_term, onWebReturn); 
}

function do_queue_song(artist, title, path, archive, duration) {
    $.ajax({
        type: "GET",
        url: "{{ url_for('queue_song') }}",
        data: {
            'artist':artist,
            'title':title,
            'path':path,
            'archive':archive,
            'duration':duration
        },
        async: true,
        success: function(data) {
            console.log("Queueing song success: " + data);
            $('#user_data').html("You chose " + unescape(title) + " next!");
        }

    });
   
}

function do_unqueue_song(artist, title, path, archive, idx) {
    $.ajax({
        type: "GET",
        url: "{{ url_for('unqueue_song') }}",
        data: {
            'path':path,
            'idx':idx
        },
        async: true,
        success: function(data) {
            console.log("Un-Queueing song success: " + data);
            //$('#user_data').html("You chose " + unescape(title) + " next!");
        }

    });
}


function do_queue_up(idx) {
    $.ajax({
        type: "GET",
        url: "{{ url_for('queue_up') }}",
        data: {
            'idx':idx
        },
        async: true,
        success: function(data) {
            console.log("Queue up song success: " + data);
        }
    });
}

function do_queue_down(idx) {
    $.ajax({
        type: "GET",
        url: "{{ url_for('queue_down') }}",
        data: {
            'idx':idx
        },
        async: true,
        success: function(data) {
            console.log("Queue down song success: " + data);
        }
    });
}

</script>
{% endblock %}



{% block menu %}
  {{ super() }}

{% if username: %}
Hello {{ username }}!  Please choose a song.
{% else %}

<script>
username=prompt("Please enter your username:","");
$.post(
    "{{ url_for('setUser') }}", 
    {'username':username},
    function() {location.reload()}
);
</script>

{% endif %}  
<div id="user_data"> </div>
<form action="javascript:query()">
    <input type=text name=query id=search_query>
    <input type=submit>
</form>
</div>
{% endblock %}

{% block sidebar %}
{{ super() }}
<h3>Manual youtube</h3>
<form action="javascript:manual_queue()">
    SongID:<br> <input type=text name=song_id id=song_id><br>
    Title:<br> <input text=text name=title id=title><br>
    <input type=submit>
</form>
{% endblock %}

{% block content %}
<h4>Local Results:</h4>
<div class="data" id="data_loc"> </div>

<h4>Web Results:</h4>
<div class="data" id="data_web"> </div>
{% endblock %}



{% block onload %}
    getsinger();
    loadData();    
{% endblock %}
