/*.center {
margin-left:auto;
margin-right:auto;
}*/

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.hcenter {
  /*width:80%; margin-left:calc(10%);*/
  margin-left:auto;
  margin-right:auto;
}

.player {
  margin: auto;
  /*height: 768px;
  width: 1024px;*/
}

h2 {
border-bottom:1px solid #DDDDDD;
color:#AAA;
font-size:250%;
padding:3px;
text-shadow: -1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444;

}
h3 {
border-bottom:1px solid #DDDDDD;
color:#AAA;
font-size:200%;
padding:3px;
text-shadow: -1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444;

}
h4 {
font-size:medium;
margin:5px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
    font-family: arial; color: #666; 
	/*text-shadow: -1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444;*/
    padding:20px;
    margin: auto;
    /*border:1px solid #DDDDDD;*/
    background-color: #EEEEEF;
    /*background-image:url('/site_media/images/gear.png');*/
    /*background-repeat:no-repeat;*/
    background-image:url('/static/images/paper1.jpeg');
    max-width: 1024px;
    width:100%;
    display:block;
}
.header {
    position: fixed;
    top: 0;
	left: 0;
    background-color: #DDDDFF;
    max-width: 1024px;
    width:100%;
}
A{ font-family: arial; color: #808080; background: #DADADA}
A:link   { text-decoration: none; }
A:visited    { text-decoration: none; }
A:active     { text-decoration: none; color: #FF911B;}
A:hover  { text-decoration: none; color: #FF911B;}

.alink {
    color: #444444;
    background: #DADADA;
    padding: 20px;
    border:1px solid #DDDDDD;
}

.clear:after {
    clear: both;
    content: "";
    display: table;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    /*-webkit-transform: rotate(-45deg) translate(-8px, 8px) ;
    transform: rotate(-45deg) translate(-10px, 8px) ;*/
    transform: rotate(-45deg);
    transform-origin: 100% 100%;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -ms-transform-origin: 100% 100%; /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 100% 100%;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    /*-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;*/
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    -ms-transform: rotate(45deg); /* IE 9 */
    -ms-transform-origin: 100% 100%; /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 100% 100%;
}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}
